@import './base.css';
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color: 255,255,255
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container{
  min-height:100vw;
background-color: var(--background-start-rgb);
color: var(--text-color);
}
.wrapper{
  max-width:1536vw;
  margin: 5pt;
  background-color: aquamarine;
}

.side-bar{
  background-color: #474744;
}