.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* SlideInOut.css */

.slide-enter {
    transform: translateX(-100%);
  }
  
  .slide-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
  
  .slide-exit {
    transform: translateX(0);
  }
  
  .slide-exit-active {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }
  

  .plan-details-title {
    font-family: font-mono;
    font-size: 15pt;
    font-weight: bold;
    color: rgb(40,0,0);
  }

  .details-card{
    
    padding: 5pt;
    background-color:#f4f4f4;
    border-radius:5pt;
  }

  .bg-orange{
    background-color:  #ff5722; 
  }